.form-field {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;

  &__input {
    color: #000;
    padding: 0 12px;
    border-radius: inherit;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;

    &--align-center {
      text-align: center;
    }

    &--align-right {
      text-align: end;
    }

    &--has-after {
      padding-right: 0;
    }
  }

  &__after {
    color: #99a2ad;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    outline: none;
  }

  &--status-error {
    border-color: #e64646;
    background-color: #faebeb;
  }

  &--status-valid {
    border-color: #4bb34b;
  }

  &--disabled {
    opacity: 0.64;
    cursor: default;
    pointer-events: none;
  }

  &:has(&__input:focus-visible), &:has(.icon-button:focus) {
    border-color: #447bba;
    outline: none;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.24);
    cursor: text;
  }
}
