.text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  &--normalize {
    display: block;
    margin: 0;
    padding: 0;
  }

  &--inline {
    display: inline-block;
  }

  &--weight-1 {
    font-weight: 600;
  }

  &--weight-2 {
    font-weight: 500;
  }

  &--weight-3 {
    font-weight: 400;
  }
}