.spacing {
  box-sizing: border-box;
  height: var(--internal-spacing-gap);
  padding-bottom: calc(1px * var(--internal-spacing-gap) / 2);
  padding-top: calc(1px * var(--internal-spacing-gap) / 2);
  position: relative;
}
