.header {
  background-color: #4A76A8;
}

.inner-header {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-with-central-col {
  position: absolute;
  left: 166px;
}





