.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  pointer-events: auto;
  padding: 10px;

  &:focus-visible {
    background-color: red;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(0, 16, 61, 0.04);
  }
}
