.form-item {
  // padding: 8px 12px;
  display: block;

  &__top {
    padding: 2px 0 6px;
  }

  &-top__label {
    color: #626d7a;
    font-size: 18px;
    line-height: 18px;

    &--required {
      margin-left: 3px;
      color: #e64646;
    }
  }

  &__bottom {
    padding-top: 6px;
    color: #818c99;
    line-height: 16px;
    font-size: 13px;

    &--status-error {
      color: #e64646;
    }

    &--status-valid {
      color: #4bb34b;
    }
  }
}